/*FIXME: Remove this file*/

/* .header-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    background-color: #1e90ff;
    width: 100%;
}

.header-logo {
    padding: 0 2em 0 0.5em;
    white-space: nowrap;
    color: white;
}

.header-input-area {
    display: flex;
    flex-wrap: nowrap;
}

.header-input {
    border: 0.5px solid #cccccc;
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 3px;
}

.header-input:focus {
    outline: none;
} */